<!--
body{
padding:0;
margin:0;
}
.main{
height:100%;
}
.header{
font-family:Tahoma, sans-serif;
font-size:12px;
COLOR:#2FFFFF;
background-color:inherit;
padding-left:10px;
padding-right:5px;
font-weight:900;
}
.text{
font-family:Verdana,sans-serif;
font-size:11px;
color:#000000;
background-color:inherit;
padding-left:20px;
padding-right:10px;
}
.text2{
font-family:Tahoma,sans-serif;
font-size:11px;
color:#000000;
background-color:inherit;
padding-left:20px;
padding-right:10px;
font-weight:100;
}
.news{
font-family:Arial, sans-serif;
font-size:9px;
color:#ffffff;
background-color:inherit;
padding-left:10px;
padding-right:5px;
font-weight:900;
}
a:link{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
a:visited{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
a:hover{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
a:active{
text-decoration:none;
color:#ffffff;
background-color:inherit;
}
.bg1{
height:100%;
background-image:url(images/cbg.jpg);
}
.r3{
background-image:url(images/r3.jpg);
background-repeat:no-repeat;
background-position:bottom;
}
.bg2{
background-image:url(images/12.jpg);
}
.bg3{
background-image:url(images/13.jpg);
}
.text3{
font-family:Verdana,sans-serif;
font-size:11px;
padding-left:20px;
padding-right:10px;
color:#454575;
background-color:inherit;
}
.text4{
font-family:Verdana,sans-serif;
font-size:11px;
padding-left:20px;
padding-right:10px;
color:#333363;
background-color:inherit;
}
.text5{
font-family:Verdana,sans-serif;
font-size:11px;
padding-left:20px;
padding-right:10px;
color:#FFFFFF;
background-color:inherit;
}
.copy{
font-family:Verdana,sans-serif;
padding-left:20px;
padding-right:10px;
font-size:9px;
color:#000000;
background-color:inherit;
}
.copy a{
color:#000000;
background-color:inherit;
}
-->
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}